<div class="center hero-unit">
    <h1 style="color:white; padding-bottom: 10px;">Welcome to the LA Woodshop</h1>

    <p> <%= link_to 'Sign up now!',  new_user_registration_path , class: "btn btn-large btn-primary" %> </p>
</div>
<div class="row">
	<div class="span8">
		<h2>Coming Soon.</h2>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sodales, arcu nec congue fermentum, nisi turpis vulputate massa, eu pellentesque arcu urna at nunc. Proin nibh nisi, imperdiet at mollis at, ultricies in neque. Pellentesque rutrum, ipsum et rhoncus vehicula, felis magna mollis turpis, vel mollis nisl odio nec nunc. Aliquam elementum, felis a feugiat scelerisque, mi tellus pulvinar risus, vitae aliquet risus nunc at metus. Vestibulum dictum tincidunt sem sed aliquet. Praesent malesuada lacinia diam et tincidunt. Donec vestibulum arcu a erat dapibus gravida. Suspendisse facilisis semper lorem ac commodo. Aliquam fringilla varius adipiscing. Nunc semper metus sit amet leo tempor et sollicitudin arcu vulputate. Proin et arcu ut nulla ullamcorper euismod vel id nunc. Phasellus ut dui nec lorem congue sodales. Duis eu turpis a leo iaculis tempor. Donec hendrerit orci ut diam iaculis dapibus.
		</p>
		<p>
			Curabitur in lacinia velit. Phasellus lorem enim, lacinia a pharetra at, mollis id nibh. Nulla pharetra nisi nec orci ornare pulvinar id sit amet elit. Nullam risus leo, sodales et porta ac, mollis eget massa. Donec venenatis nisl nec lectus mattis ultricies. Proin non nisi diam. Nam velit enim, vulputate et lobortis id, sagittis in est.
		</p>
	</div>
</div>